<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c2a222a4-c532-429d-8afd-faf2f31311a4/resourceGroups/GymLedgerAPIGroup/providers/Microsoft.Web/sites/GymLedgerAPI</ResourceId>
    <ResourceGroup>GymLedgerAPIGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://gymledgerapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>gymledgerapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GymLedgerAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GymLedgerAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>